
section{
    background-color: white;
}


.main_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main_header div{
    display: flex;
    background-color: #2161f7;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    
}

.main_header img{
    position: relative;
    top: 0;
    left: 0;
    width: 90vw;
    height: 80vh;
    border-radius: 40px; 
}

.main_header p {
    
}



.main_body1{
    display: grid;
    
}

/* style für cards */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;  
    padding: 1rem 3.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #dbe5fce4;
    text-align: center;
    border-radius: 40px;
    padding: 50px;
}

.card h3 {
    font-size: 2rem;
    font-weight: bold;
}

.cards i{
    align-self: flex-end;
    color: white;
    background-color: #2161f7;
    padding: 14px;
    border-radius: 50%;
    
}


/* style für main_body2*/

.main_body2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;  
    margin-top: 70px;
}

.cards2{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 40px;
    padding: 50px;
}

.cards2 img {
    border-radius: 20px;
}




.main_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #2161f7;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.main_footer h2{
    font-size: 3rem;
}

.main_footer p{
    margin: 1rem 20rem;
    font-size: 1.7rem;
}

.main_footer button{
    margin-top: 2.2rem;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
   
}

  

